:root {
    --link-hover: #f0f8ff;
    --link-colors: #FF8438;
    --navBar-bg: rgba(64, 63, 63, 0.85);
}

.navBar{
    width: 100%;
    margin: 0;
    background-color: var(--navBar-bg);
    color: var(--link-colors);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    /* position: fixed; */
}

.navBar > h1 {
    margin: 0;
    width: 40%;
    text-align: center;
}

.navBar > nav{
    width: 60%;
}

.navBar-links{
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navBar-links > li:hover  {
    cursor: default;
    color: #f0f8ff;
}