@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Island+Moments&display=swap');

:root {
    --link-hover: #f0f8ff;
    --link-colors: #FF8438;
    --navBar-bg: rgba(64, 63, 63, 0.85);
}

.navBar{
    width: 100%;
    margin: 0;
    background-color: var(--navBar-bg);
    color: var(--link-colors);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    /* position: fixed; */
}

.navBar > h1 {
    margin: 0;
    width: 40%;
    text-align: center;
    font-family: "Irish Grover", serif;
    font-weight: 400;
}

.navBar > nav{
    width: 60%;
}

.navBar-links{
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Island Moments", serif;
    font-weight: 400;
    font-size: 200%;
}


.navBar-link{
    text-decoration: none;
    color: var(--link-colors);
}

.navBar-link:hover  {
    cursor: default;
    color: #f0f8ff;
}