/* using variables */
:root {
  --background-color: #000000;
}

body{
  margin: 0;
  background-color: var(--background-color);
}

main{
  margin: 0 auto;
  text-align: center;
}
#main-image{
  width: 80%;
}


.text-white{
  color: white;
}